@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

html,
body,
#root,
.main-body {
    height: 100%;
    width: 100%;
}
.buildScreen {
    width: 100%;
    height: 100%;
}
.toolbar {
    position: relative;
    flex-direction: row;
    display: flex;
    height: 70px;
    width: 100%;
    background-color: white;
    align-items: center;
    box-shadow: 0 3px 6px #00000029;
    z-index: 10;
}
.toolbarLine {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #3761ff;
    left: 0;
}
.exit {
    justify-content: flex-end;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.logoContainer {
    width: 81px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.filename {
    font-family: 'IBM Plex Sans', 'Source Sans Pro', sans-serif;
    text-transform: capitalize;
    color: black;
    font-size: 18px;
}
.sideToolbar {
    padding: 25px 0;
    flex: 0 0 auto;
    width: 80px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.sideToolbarIconContainer {
    display: flex;
    align-content: center;
    padding: 25px 0;
}
.sideToolbarIconContainer:hover {
    cursor: pointer;
}
.savingAlert {
    color: #121212;
    align-self: flex-end;
    margin-left: 10px;
}
.sidebarIcon {
    margin: auto;
    height: 22px;
}
.insertToolbar {
    flex: 0 0 auto;
    background-color: #f5f5f5;
    width: 250px;
}
