.buildStage {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    overflow: hidden;
}
.placeMapButton {
    position: absolute;
    top: 50px;
    left: 50px;
}
.konvaCanvas {
    flex: 1 0 auto;
    background-color: #e4e4e4;
}
.bottomInfobar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: #fafafa;
}
