@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

.tab-menu {
    overflow-x: hidden;
    position: relative;
    height: 40px;
    font-size: 15px;
    font-family: 'IBM Plex Sans', 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    vertical-align: center;
}

.tab {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.tab:hover {
    cursor: pointer;
}

.tab-selected {
    background-color: #F4F4F4;
}

.tab-not-selected {
    background-color: white;
}

.tab-selected-block {
    position: absolute;
    bottom: 0;
    background-color: #055EFF;
    height: 2px;
    width: 100%;
    transition: left .2s ease-in-out;
}

.tab-selected-shadow {
    position: absolute;
    bottom: 0;
    background-color: #E0E0E0;
    height: 2px;
    width: 100%;
    transition: left .2s ease-in-out;
}

.tab-menu-component-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.text-box {
    justify-content: end;
    margin: 10px;
    font-family: 'IBM Plex Sans', 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    flex-wrap: wrap;
}

.text-box-input-units {
    margin-left: 4px;
    display: flex;
    flex-direction: row;
    background-color: #F3F3F3;
    height: 35px;
    align-items: center;
    padding-right: 4px;
}

.text-box-input {
    align-items: center;
    background-color: #F3F3F3;
    border: none;
    font-size: 13px;
    padding-left: 6px;
    padding-right: 4px;
}

.lock {
    height: 16px;
    width: 16px;
}

.lock:hover {
    cursor: pointer;
}

.button {
    position: relative;
    font-family: 'IBM Plex Sans', 'Source Sans Pro', sans-serif;
    font-size: 16px;
    padding: 15px 25px;
    margin: 20px;
    border: none;
}

.button:hover {
    cursor: pointer;
}

.button-filter {
    position: absolute;
    z-index: 20;
    background-color: black;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
