@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

.tab-menu {
    overflow-x: hidden;
    position: relative;
    height: 40px;
    font-size: 15px;
    font-family: 'IBM Plex Sans', 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    vertical-align: center;
}

.tab {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.tab:hover {
    cursor: pointer;
}

.tab-selected {
    background-color: #F4F4F4;
}

.tab-not-selected {
    background-color: white;
}

.tab-selected-block {
    position: absolute;
    bottom: 0;
    background-color: #055EFF;
    height: 2px;
    width: 100%;
    transition: left .2s ease-in-out;
}

.tab-selected-shadow {
    position: absolute;
    bottom: 0;
    background-color: #E0E0E0;
    height: 2px;
    width: 100%;
    transition: left .2s ease-in-out;
}

.tab-menu-component-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.drop-down-icon {
    height: 22px;
    width: 22px;
    margin-right: 14px;
}

.drop-down-icon:hover {
    cursor: pointer;
}
