body * {
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}

h1 {
    font-weight: normal;
    font-size: 22px;
    margin: 0;
}

h2 {
    font-weight: normal;
    font-size: 19px;
    margin: 0;
}

h3 {
    font-weight: normal;
    font-size: 17px;
    margin: 0;
}

h4 {
    font-weight: normal;
    font-size: 16px;
    margin: 0;
}

h5 {
    font-weight: normal;
    font-size: 13px;
    margin: 0;
}
