.properties-sidebar {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    font-family: 'IBM Plex Sans', 'Source Sans Pro', sans-serif;
    background-color: white;
    height: 100%;
}

.transform-component {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: center;
}

.build-prop-add-comp {
    margin: 10px auto;
}
