.main {
    font-family: 'IBM Plex Sans', 'Source Sans Pro', sans-serif;
    background-color: white;
}

.transformComponent {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: center;
}

.buildPropAddComp {
    margin: 10px auto;
}
