.properties-sidebar {
    font-family: 'IBM Plex Sans', 'Source Sans Pro', sans-serif;
    flex: 0 0 auto;
    background-color: white;
    justify-self: flex-end;
    height: 100%;
}

.transform-component {
    display: flex;
    flex-direction: row;
    margin: 10px;
}
