@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

.titlebar {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: row;
    user-select: none;
}

.tile {
    position: relative;
    height: 100%;
    padding: 1px 7px;
    border-radius: 4px;
}

.tile:hover {
    cursor: pointer;
}
