name: Build the Build Screen

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release Version'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: dev
      - name: setup node
        uses: actions/setup-node@v2-beta
        with:
          node-version: '12'
      - name: install deps and build
        run: |
          yarn install --frozen-lockfile
          yarn build
      - name: output version
        run: echo "Release version ${{ github.events.inputs.version }}"
      - name: Push to master
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
          force: true
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          repository: KLewin23/Mapit
          event-type: BuildScreen
