name: Test Build Screen

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: 'dev'
      - name: setup node
        uses: actions/setup-node@v2-beta
        with:
          node-version: '12'
      - name: install deps and build
        run: |
          yarn install --frozen-lockfile
